# Database
DB_NAME=casas_campo
DB_USER=casas_user
DB_PASSWORD=change_in_production

# JWT Auth
JWT_SECRET=change_in_production_use_openssl_rand_hex_32
NEXTAUTH_SECRET=change_in_production_use_openssl_rand_hex_32

# MinIO File Storage
MINIO_USER=admin
MINIO_PASSWORD=change_in_production_min_8_chars
